.container{
    width:500px;
    margin:0 auto;
    padding:2em;
    border:1px solid #ccc;
}

.box{
    background-color:tomato;
    color:white;
    padding:2em;
    text-align:center;
    cursor:pointer;
    
}

.box:hover{
    background:#e4e4e4;
    color:tomato;
}

#newsletter{
    text-align:center;
}
